.avatar {
  position: relative;
  border-radius: 50%;
  transition: 0.3s;
  background-size: cover;
}

.avatarBorder {
  box-shadow: 0 0 0 4px white, 0 0 0 8px #bddfbd;
}

.mask {
  position: absolute;
}

.border {
  position: relative;
  z-index: 1;
}

.emptyAvatar {
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #e0e0e0;
  font-size: 30px;
  font-weight: 700;
}
